<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 작성</title>
</head>
<body>
<!-- header fragment 불러오기 -->
<div th:replace="fragments/header :: site-header"></div>

<div class="container mt-5">
    <form th:action = "@{/articles/{id}/edit(id=${article.id})}" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${article.title}" required>

            <label for="author" class="form-label">저자</label>
            <input type="text" class="form-control" id="author" name="author" th:value="${article.author}" required>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" name="content" rows="10" th:text="${article.content}"
                      required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>

<!-- footer fragment 불러오기 -->
<div th:replace="fragments/footer :: site-footer"></div>
</body>
</html>